In [5]:
import os
import pandas as pd
import tabula

In [7]:
%%capture
root = "../data/curated/"
source_pdf_paths = [
    os.path.join(root, "drsbru", "table_2_drsbru_patient_data_140504.pdf"),
    os.path.join(root, "drslund", "table_1_drslund_data_140504.pdf"),
    os.path.join(root, "drsprg", "table_2_clinical_data_120317.pdf"),
]

for pdf_path in source_pdf_paths:
    target_csv_path = os.path.join(pdf_path.replace(".pdf", ".csv"))
    tabula.convert_into(pdf_path, target_csv_path, pages="all", output_format="csv", silent=True);

In [11]:
df_1 = pd.read_csv(source_pdf_paths[0].replace(".pdf", ".csv"))
df_1.head()

,study name,gender,age\ryrs,GFR\rml/min,% LK\rintegral,% LK\rPR plot,NORA\r(20) LK,NORA\r(PM) LK,NORA\r(20) RK,NORA\r(PM) RK,OE\r(20) LK,OE\r(PM) LK,OE\r(20) RK,OE\r(PM) RK
0,drsbru_001,f,1.2,77.0,44,43,3.70,2.66,0.28,0.02,33,52.0,95.0,100.0
1,drsbru_002,m,0.3,NaN,2,2,3.27,2.43,0.37,0.15,36,59.0,93.0,98.0
2,drsbru_003,m,4.3,22.0,37,39,3.73,3.16,2.07,2.57,57,71.0,62.0,55.0
3,drsbru_004,m,12.7,70.0,44,42,2.68,2.65,0.20,0.06,39,43.0,96.0,99.0
4,drsbru_005,m,7.6,133.0,76,75,0.25,0.05,0.20,0.04,95,99.0,96.0,99.0

In [12]:
df_2 = pd.read_csv(source_pdf_paths[1].replace(".pdf", ".csv"))
df_2.head()

,study,image data filenames,number of\rimages,image\rsize\r[pixels],frame\rduration\r[s],injected\ractivity\r[MBq],max pixel\rcount,relative\ruptake LK\r[%],renal\rclearance\r[ml/min]
0,drslund_001,drslund_001_ANT_50.dcm,120,128,10,50,159,50,260
1,NaN,drslund_001_POST_50.dcm,120,128,10,50,86,50,260
2,NaN,drslund_001_ANT_100.dcm,120,128,10,100,307,50,260
3,NaN,drslund_001_POST_100.dcm,120,128,10,100,165,50,260
4,NaN,drslund_001_POST_GS_100.dcm,120,128,10,100,716,50,260

In [14]:
df_3 = pd.read_csv(source_pdf_paths[2].replace(".pdf", ".csv"))
df_3.head()

,STUDY NAME,GENDER,AGE,WEIGHT,HEIGHT,BMI,BSA - H,BSA - D,BPS1,BPD1,BPS1.1,BPD1.1,BPS2,BPD2,BPS2.1,BPD2.1
0,NaN,[M/F],[yrs],[kg],[cm],[kg/m2],[m2],[m2],[torr],[torr],[kPa],[kPa],[torr],[torr],[kPa],[kPa]
1,drsprg_001,F,62,54,161,20.83,1.5540,1.5581,160,90,21.33,12.00,160,90,21.33,12.00
2,drsprg_002,F,21,49,160,19.14,1.4712,1.4883,100,80,13.33,10.67,100,80,13.33,10.67
3,drsprg_004,M,65,87,177,27.77,2.0852,2.0438,170,70,22.66,9.33,130,80,17.33,10.67
4,drsprg_005,F,73,73,160,28.52,1.8230,1.7631,160,90,21.33,12.00,170,85,22.66,11.33